<web-app>
    <!--mapeo del primer servlet: Hola mundo  -->
    <servlet>
        <servlet-name>ServletHolaMundo</servlet-name>
        <servlet-class>servletHTML.ServletHolaMundo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletHolaMundo</servlet-name>
        <url-pattern>/ServletHolaMundo</url-pattern>
    </servlet-mapping>
   
     <!--mapeo del segundo servlet: formulario -->
      <servlet>
        <servlet-name>ServletFormulario</servlet-name>
        <servlet-class>servletHTML.ServletFormulario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletFormulario</servlet-name>
        <url-pattern>/ServletFormulario</url-pattern>
    </servlet-mapping>
    
      <!--mapeo del tercer servlet: login -->
      <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>servletHTML.ServletLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
</web-app>
